html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.register-form label,
.register-form p {
    text-align: left;
    display: block;
    font-weight: bold;
}

.btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.btn:hover {
    background-color: darkgreen;
    cursor: pointer;
}